<section class="w-[100%] h-[88vh] lg:h-[90%] p-[0.625rem] lg:p-3 md:flex md:flex-col md:items-center">
    <section class="w-full h-full md:w-[50%] lg:w-[80%] bg-white rounded flex flex-col p-3 lg:px-9 lg:py-4">
        
        <form [formGroup]="fgTask" class="flex flex-col w-full gap-3">
          <div class="w-full flex flex-col lg:flex-row gap-1 lg:gap-2">
            <div class="w-full flex flex-col gap-1">
                <app-input [label]="'Nombre de la tarea:'" 
                       [type]="'text'" 
                       [valid]="validateNameTask()"
                       [training]="'colum'" 
                       [control]="fgTask.controls['nameTask'] | formControlPipe"></app-input>
                <p class="text-sm md:text-base lg:text-lg text-red-500" [ngClass]="{'hidden': validateNameTask()}">Campo obligatorio</p>
            </div>
    
            <div class="w-full flex flex-col gap-1">
                <app-input [label]="'Fecha límite:'" 
                       [type]="'date'" 
                       [training]="'colum'" 
                       [control]="fgTask.controls['dateLimit'] | formControlPipe"
                       [valid]="validateDateLimit()"></app-input>
                <p class="text-sm md:text-base lg:text-lg text-red-500" [ngClass]="{'hidden': validateDateLimit()}">Campo obligatorio</p>
            </div>
          </div>  
          
          <div class="w-full flex flex-col justify-start gap-1 border border-transparent border-b-violet-300">
            <p class="text-sm md:text-base lg:text-lg font-bold text-violet-500">Personas Asociadas</p>
    
            <app-table [persons]="personList"></app-table>
    
            <app-button class="w-28 md:w-32 lg:w-40" [name]="'Añadir Persona'" (click)="deployDialog()"></app-button>
            <br>
          </div>
          <app-button class="w-full" [name]="'Guardar Tarea'" [disable]="validateCreate()" (click)="postTask()"></app-button>
    
          <app-button class="w-full" [name]="'Cancelar'" (click)="cancelTask()"></app-button>
        </form>
        
    </section>

</section>

